In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").appName('test').getOrCreate()

22/07/23 17:42:08 WARN Utils: Your hostname, kuchoco-GP62-6QE resolves to a loopback address: 127.0.1.1; using 192.168.219.113 instead (on interface wlp2s0)
22/07/23 17:42:08 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/kuchoco/spark/spark-3.0.3-bin-hadoop3.2/jars/spark-unsafe_2.12-3.0.3.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/07/23 17:42:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/07/23 17:42:10 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [5]:
df_green = spark.read.parquet('data/report/green/*.parquet')
df_green.registerTempTable('green')

df_yellow = spark.read.parquet('data/report/yellow/*.parquet')
df_yellow.registerTempTable('yellow')

In [13]:
df_green_tmp = df_green\
    .withColumnRenamed('amount', 'green_amount')\
    .withColumnRenamed('number_records', 'green_number_records')

df_yellow_tmp = df_yellow\
    .withColumnRenamed('amount', 'yellow_amount')\
    .withColumnRenamed('number_records', 'yellow_number_records')

## Join Two large table
- green and yellow taxi-trip data

In [15]:
df_join = df_green_tmp.join(df_yellow_tmp, on=['hour', 'zone'], how='outer')

In [16]:
df_join.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+----+------------------+--------------------+------------------+---------------------+
|2020-01-01 00:00:00| 141|              null|                null|             15.96|                    1|
|2020-01-01 10:00:00|  24|126.41999999999999|                   6| 783.8999999999999|                   44|
|2020-01-01 10:00:00| 242|             30.94|                   2|              null|                 null|
|2020-01-01 13:00:00| 202|              null|                null|              42.1|                    2|
|2020-01-01 14:00:00|  71|              null|                null|             49.71|                    1|
|2020-01-01 14:00:00| 244|             25.26|                   2|185.17000000000004|                   17|
|2020-01-01 16:00:00|  48|              null|                null|           2857.21|                  120|
|2020-01-01 16:00:00| 112|             66.76|                   3|              57.3|                    1|
|2020-01-01 16:00:00| 179|              null|                null|            119.05|                    7|
|2020-01-01 18:00:00|  93|              null|                null|287.46000000000004|                    4|
|2020-01-01 19:00:00| 169|              6.12|                   1|              19.1|                    2|
|2020-01-01 20:00:00| 193|              14.3|                   2|            105.66|                    4|
|2020-01-02 00:00:00|  25|            192.12|                  11|             14.52|                    1|
|2020-01-02 04:00:00| 196|36.400000000000006|                   3|             152.8|                    2|
|2020-01-02 06:00:00| 157|              null|                null|             61.42|                    1|
|2020-01-02 12:00:00| 143|              null|                null| 82.77999999999999|                    4|
|2020-01-02 13:00:00| 262|              null|                null|159.72000000000003|                    6|
|2020-01-02 16:00:00| 241|176.26999999999998|                   4|             30.48|                    1|
|2020-01-02 17:00:00| 217|              49.9|                   2|              20.3|                    1|
|2020-01-02 19:00:00| 131|            186.32|                   8|             47.69|                    1|
+-------------------+----+------------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [17]:
df_join.write.parquet('data/report/total', mode='overwrite')

## Join one large table and one small table
- taxi-trips and zones

no shuffling because zone data distributed to executors

In [18]:
df_zones = spark.read.parquet('zones/')

In [20]:
df_zones.show()

+----------+-------------+--------------------+------------+
|locationid|      borough|                zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [23]:
df_result = df_join.join(df_zones, df_join.zone == df_zones.locationid)

In [39]:
df_result.show(10)

+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|locationid|  borough|                zone|service_zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
|2020-01-01 00:00:00| 141|              null|                null|             15.96|                    1|       141|Manhattan|     Lenox Hill West| Yellow Zone|
|2020-01-01 10:00:00|  24|126.41999999999999|                   6| 783.8999999999999|                   44|        24|Manhattan|        Bloomingdale| Yellow Zone|
|2020-01-01 10:00:00| 242|             30.94|                   2|              null|                 null|       242|    Bronx|Van Nest/Morris Park|   Boro Zone|
|2020-01-01 13:00:00| 202|              null|                null|              42.1|                    2|       202|Manhattan|    Roosevelt Island|   Boro Zone|
|2020-01-01 14:00:00|  71|              null|                null|             49.71|                    1|        71| Brooklyn|East Flatbush/Far...|   Boro Zone|
|2020-01-01 14:00:00| 244|             25.26|                   2|185.17000000000004|                   17|       244|Manhattan|Washington Height...|   Boro Zone|
|2020-01-01 16:00:00|  48|              null|                null|           2857.21|                  120|        48|Manhattan|        Clinton East| Yellow Zone|
|2020-01-01 16:00:00| 112|             66.76|                   3|              57.3|                    1|       112| Brooklyn|          Greenpoint|   Boro Zone|
|2020-01-01 16:00:00| 179|              null|                null|            119.05|                    7|       179|   Queens|         Old Astoria|   Boro Zone|
|2020-01-01 18:00:00|  93|              null|                null|287.46000000000004|                    4|        93|   Queens|Flushing Meadows-...|   Boro Zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
only showing top 10 rows

In [35]:
# drop zone column(int) and save
df_result.drop(df_join.zone).repartition(10).write.parquet('tmp/revenue-zones/', mode ='overwrite')

22/07/23 19:05:40 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers